.design{
    background-color: beige;
}

#headline{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #4A4633;
    align-items: center;     
}


/*add open & hide function*/
details{
    background-color: #BFBE9C;

    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

/*to remove default arrow and make clicking area smaller*/
summary{
    list-style: none;
    display: inline-block;
}

.click{
    font-size: 17px;
    color: #4A4633;
    font-weight: bold;
    text-align: center;

    
    padding-top: 15px;
}

.text{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;

    margin-left: 15%;
    margin-right: 15%;

    font-size: 14px;
    text-align: center;

    font-weight: bold;
    color: #4A4633;
}





